header {
  height: 60vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 2em;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
}