.button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btnPrimary {
  color: #fff;
  background-color: #202020;

  &:hover {
    background-color: #202020db;
  }
}

.btnSecondary {
  color: #000;
  background-color: #FFF;
  outline: 1px solid #000;
  outline-offset: -1px;

  &:hover {
    background-color: #ffffffdb;
  }
}

.btnSmall {
  padding: .8em;
  max-width: fit-content
}

.btnMedium {
  padding: 0 2em;
  max-width: fit-content;
}

.btnLarge {
  padding: 1em 3em;
  max-width: fit-content;
}